<?xml version="1.0" ?>

<robot name="ma2010_d500" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Properties -->
  <material name="yaskawa_blue">
      <color rgba="0.12941 0.14902 0.74902 1" />
  </material>
  <material name="grey">
      <color rgba="0.5 0.5 0.5 1" />
  </material>
  <material name="black">
      <color rgba="0 0 0 1" />
  </material>

	<xacro:include filename="$(find motoman_ma2010_d500_waam_support)/urdf/ma2010_d500_macro.xacro" />
	<xacro:ma2010_d500 prefix=""/>

  <!-- ROS base_link to Robot Manufacturer World Coordinates transform -->
  <!-- TODO create a separate xacro:macro for this -->
	<link name="world" >
    <!-- manipulator riser -->
    <visual>
      <origin xyz="-0.2725 -0.2725 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/15067-2_460mm_m.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="-0.2725 -0.2725 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/15067-2_460mm_m.stl"/>
      </geometry>
    </collision>
    <!-- floor slab -->
    <visual>
      <origin xyz="-0.85 -1.25 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/floor_slab_m.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="-0.85 -1.25 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/floor_slab_m.stl"/>
      </geometry>
    </collision>
    <!-- positioner base plate -->
    <visual>
      <origin xyz="0.85 -0.4 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/base_plate_positioner_m.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0.85 -0.4 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/base_plate_positioner_m.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="d500_base_link-world" type="fixed">
    <origin xyz="1.365256 0 0.032" rpy="0 0 -${pi/2}"/>
    <parent link="world"/>
    <child link="d500_base_link"/>
  </joint>
  <joint name="ma2010_base_link-world" type="fixed">
    <origin xyz="0 0 0.46" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="ma2010_base_link"/>
  </joint>

  <!-- Substrate plate on the positioner -->
  <link name="d500_sub_plate">
    <visual>
      <origin xyz="-0.25 -0.25 -0.049"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/substrate_plate_temp_m.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="-0.25 -0.25 -0.049"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/substrate_plate_temp_m.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="d500_tool0-d500_sub_plate" type="fixed">
    <parent link="d500_tool0" />
    <child link="d500_sub_plate" />
    <origin xyz="0 0 0.049" rpy="0 0 ${pi/2}"/>
  </joint>

  <!-- Tool (torch) -->
  <link name="ma2010_torch">
    <visual>
      <!--<origin xyz="-0.100 0.042 -0.050" rpy="${pi/2} 0.38 0"/>-->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/ra_5000_22g.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://motoman_ma2010_d500_waam_support/meshes/ra_5000_22g.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="ma2010_tool0-ma2010_torch" type="fixed">
    <parent link="ma2010_tool0"/>
    <child link="ma2010_torch"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="ma2010_tool_tip" />
  <joint name="ma2010_tool0-ma2010_tool_tip" type="fixed">
    <parent link="ma2010_torch" />
    <child link="ma2010_tool_tip" />
    <origin xyz="0.4754 0 0" rpy="0 0 0"/>
  </joint>
  <link name="ma2010_tool_tip_ang" />
  <joint name="ma2010_tool0-ma2010_tool_tip_ang" type="fixed">
    <parent link="ma2010_tool_tip" />
    <child link="ma2010_tool_tip_ang" />
    <origin xyz="0 0 0" rpy="0 -0.91 0"/>
  </joint>
  <link name="ma2010_tcp" />
  <joint name="ma2010_tool_tip_ang-ma2010_tcp" type="fixed">
    <parent link="ma2010_tool_tip_ang" />
    <child link="ma2010_tcp" />
    <origin xyz="0 0 -0.015" rpy="0 0 0"/>
  </joint>
</robot>
